
button.navbar-toggler.collapsed {
    background: #fff;
}

span.tagsLogo {
    font-size: 27px;
    color: #4b30c0;
    font-weight: bold;
    text-shadow: 1px 0px 4px #340ae7;
}

.nav-link{
    color: #8166f5;
}
.nav-link:hover{
    color:#fff;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255 255 255);
}
.nav-link.active {
    color: #ffffff !important;
}

section#hoome {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    text-align: center;
    color:#fff;
    background:#212529;
    width: 100vw;

}

.iam {
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */

  }
  .fullstack{
    color: #4b30c0;
  }

  .navbar-brand:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }

  li.nav-item {
    margin-left: 29px;
}

  section#projetos, section#habilidades, section#contato {
    color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}
.imagemAtendimento {
    width: 62%;
    margin: 39px;
}
.skills {
    border-top: 2px solid #212529;

    display: flex;
    background: rgb(33 37 41);
}
.skills img {
    width: 53px !important;
    margin-left: 36px;
}

form {
    width: 486px;
    height: 394px;
    background: #212529;
    padding: 19px;
    position: relative;
    border-radius: 9px;
}
input, textarea {
    border: 1px solid #4b30c0 !important;
    padding: 11px !important;
}
.degrade {
    background-image: linear-gradient(180deg, #ffffff, #ffffff00);
    width: 100vw;
    height: 67px;
    /* position: absolute; */
}
.row.contatos {

    display: flex;
    align-items: center;
}
.iconSkill {
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
button.btn.btn-success {

    background: #4b30c0;
}
.titleSkill {
    color: #1c1c1c;
    text-align: center;
    /* width: fit-content; */
    font-weight: bold;
    margin-top: 12px;
}

h2{
    color: #1c1c1c;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 4px solid #4b30c0;
    width: fit-content !important;
}


.screenshot {
    width: 469px;
    display: block;
    margin: 0 auto;
    border-radius: center;

}
.screenshot img {
    border-radius: 17px;
}
.tec {
    background: #4b30c0;
    margin: 9px;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 79px;

}
.alert.alert-success.alert-dismissible.fade.show {
    position: absolute;
    top: 76px;
    z-index: 999;
    width: -webkit-fill-available;
}

.row.cardProject {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 5px;
    position: relative;
    padding: 17px;
    background: #1c1c1c;
    width: 84%;
    height:387px;
    border-radius: 7px;



}

h3.tituloProjeto {
    text-align: center;
    margin-bottom: 12px;
}
.descricao {
    margin-bottom: 5px;
}
.actionsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
button.btn.btnAction {
    color: #fff;
    border: 1px solid #4b30c0;
    width: 64%;
}



  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }

  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4b30c0;
    outline: none;
    transition: 1s ease-in-out;
  }


  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    border-radius: 5px !important;
  }

  .btn:hover {
    transition: 1s ease-in-out;
    background: #4b30c0;
  }

  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  .btncontato{
    width: 200px;
    margin: 16px;
  }

  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

  @media only screen and (max-width: 600px) {
    button.navbar-toggler {
        background: #fff;
    }
    nav.navbar.navbar-expand-lg.bg-body-tertiary {
        position: relative !important;
        width: auto !important;
    }
    .formulario {
        margin: 0;
        padding: 0;
        width: auto;
    }
    .screenshot {
        width: auto;

    }
    .btncontato {
        margin-bottom: 75px;

    }
    body {
        width: 414px;
    }
    form.aos-init.aos-animate {
        width: 373px;
    }
    .main {
        width: min-content;
    }
    section#hoome {

        width: 414px;
    }
    .skills {

        width: 414px;
    }
    .row.cardProject {



        width: 414px;
        height: 133%;

        margin-left: -110px;

    }
    .row.actionsBtn .center {
        position: relative;
        margin: 10px auto;
    }
}
